* {
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

img {
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

/* TYPOGRAPHY */

@font-face {
    font-family: poppins-regular;
    src: url(/FONTS/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-medium;
    src: url(/FONTS/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(/FONTS/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: poppins-light;
    src: url(/FONTS/Poppins/Poppins-Light.ttf);
}

/* LAYOUT */

.main-layout{
    margin-left: auto;
    margin-right: auto;
}

/* header */


input[type="search"]::-webkit-search-cancel-button {
    opacity: 0;
}

.main-header {
    background-image: linear-gradient(90deg, rgba(180,58,134,1) 0%, rgba(183,29,253,1) 50%, rgba(252,228,69,1) 100%);
    margin-bottom: 10px;
    font-family: poppins-medium;
    color: #FFFFFF;
}

.main-header .logo img {
    width: 200px;
   display: flex;
   align-items: center;
}

.main-nav a{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.main-nav a:hover {
    background-color: white;
    color: #b3398a;
    border-radius: 20px;
    box-shadow: 0px 3px 7px;
    transition: .4s
}
/* meme-editor */




.meme-editor-dashboard {
    line-height: 54px;
    background-color: rgba(235, 238, 243, 0.486);
    border-radius: 15px;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0px 0px 12px 1px white;
}



.text-line {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: poppins-medium;
    font-size: 1.56rem;
    text-align: center;
    background-color: #EBEEF3;
    border-radius: 20px;
    box-shadow: 0.26px 4.99px 0px #BBC4D1  ;
    border: none;

}

.meme-editor button {
    border: none;
    border-radius: 10px;
}

.btn-back {
    text-decoration: underline;
    cursor: pointer;
}

.btn {
    cursor: pointer;
    position: relative;
}


.btn img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.text-functionalities >* img {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

.text-functionalities button:first-of-type {
    background-color: #b93ef1;
    box-shadow: 0.26px 4.99px 0px #881db9;
}

.text-functionalities button:nth-of-type(2) {
    background-color: #f7f30a;
    box-shadow: 0.26px 4.99px 0px #c9c60a;
}


.text-functionalities button:nth-of-type(3) {
    background-color: #66C4DC;
    box-shadow: 0.26px 4.99px 0px #048B97;
}

.text-functionalities button:nth-of-type(4) {
    background-color: #42EB5C;
    box-shadow: 0.26px 4.99px 0px #015D33;
}

.text-functionalities button:last-of-type {
    background-color: #CF1D37;
    box-shadow: 0.26px 4.99px 0px #8C0606;
}


.text-prefrences button {
    background-color: white;
}

.text-prefrences {

    background-color: #d572be;
    border-radius: 20px;
    margin-bottom: 1.875rem;
}

.text-prefrences >* {
    margin-bottom: 0.9rem;
    box-shadow: 0.26px 4.99px 0px #5c5c5c73;
}

.font-options {
    margin-inline-start: 0.9rem;
    font-size: 1.56rem;
    font-family: 'poppins-medium';
    border-radius: 10px;
    padding-inline-start: 1.25rem;
    border: none;
    padding-top: .625rem;
    padding-bottom: .18rem;
}

input[type="color"] {
    opacity: 0;
    z-index: 1;
    width: 40x;
    height:41px;
    cursor: pointer;
}


.font-color {
    background-image: url(../ICONS/paint-board-and-brush.png);
    background-size: 31px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid gray;
    cursor: pointer;
}

.stroke-color {
    background-image: url(../ICONS/text\ stroke.png);
    background-size: 31px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid gray;
    cursor: pointer;
}

.add-stickers {
    border-radius: 50px;
    /* background-color: yellow; */
}


.download-btn {
    background-color:#8F44BB ;
    box-shadow: 0px 5px 0px #632687 , 0px -3px 0px white;
    cursor: pointer;
}

.share-btn {
    background-color:#1E7CD3 ;
    box-shadow: 0px 5px 0px #165C9C , 0px -3px 0px white;
    cursor: pointer;
}

.save-btn {
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 0px #f30051 , 0px -3px 0px rgba(216, 216, 216, 0.418);
}

.actions svg {
    padding-inline-start: 3px;
    padding-top: 4px;
}

.actions a  {
    color: white;
    text-decoration: none;
    padding-inline-end: 25px;
    padding-inline-start: 20px;
    font-size: 1.25rem;
}

canvas {
    border-radius: 15px;
}

/* img-gallery */

.main-content {
    border-radius: 20px;
}

.main-controls {
 align-items: center;
 padding-bottom: 30px;
}

.meme-search {
    border: none;
    border-radius: 25px;
    font-family: poppins-light;
}

.hide {
    display: none;
}

.hidden-keywords {
    display: block;
}
.hidden-keywords.hide {
    display: none;
}


.btn-keywords {
    border: none;
    margin-left: 9px;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    color: white;
    font-family: poppins-medium;
    border-radius: 10px;

}

.btn-keywords:hover {
    color: rgb(255, 251, 0);
}

.keywords-touch.hide {
    height: max-content;
}

.keywords-nav img {
    width: 40px;
    height: 40px;
}

.keywords-nav button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}


.keywords-nav button:last-of-type {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}

.keywords-nav >*{
    cursor: pointer;
    font-family: poppins-light;
}


/* HELPERS */

.flex{
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.clean-list {
    list-style: none;
    padding: 0;

}

.main-screen {
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity .6s;
}

body.menu-open .main-screen {
    pointer-events: auto;
    opacity: 1;
}

@media (max-width: 740px) {

    .main-layout{
        max-width: 350px;
    }
    body,  html{
        width: 100vw;
        height: 100vh;
    }
    body{
        margin:0;
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='45.1%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23FFDD39'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='70.2%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23F7FF54'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg %3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }

    html {
        font-size: 13px;
    }

    .main-content {
        background-color: rgba(201, 150, 201, 0.671);
    }

    .main-header {
        width:100%;
        margin-left: auto;
        margin-right: auto;
        background-image: linear-gradient(90deg, rgba(180,58,134,1) 0%, rgba(183,29,253,1) 50%, rgba(252,228,69,1) 100%);
        margin-bottom: 10px;
        font-family: poppins-medium;
        font-size: 1rem;
        color: #FFFFFF;
    }
    
    .main-header .logo {
        font-size: 30px;
        margin-inline-start: 30px;
    }
    
    .main-header .logo img {
       display: flex;
       align-items: center;
    }

    .main-nav {
        position: fixed;
        top: 33px;
        right: 0;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        background-color: rgba(219, 189, 89, 0.9);
        width: 200px;
        transform: translateX(100%);
        border-inline-start: 1px solid #e0e0e0;
        transition: transform .6s, box-shadow .6s;
        z-index: 1;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -2px -2px 20px rgba(0, 0, 0, .25);
    }
    .main-nav>*:not(:last-child) {
        margin: 0;
    }
    .main-nav a {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #e0e0e0;
        font-size: 1.75rem;
        padding-inline-start: 23px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding: 60px;
        cursor: pointer;
        transition: background .3s;
    }
    
    .main-controls {
        flex-direction: column;
        padding-top: 10px;
    }

    .meme-search {
        position: relative;
        background-color: rgb(255, 255, 255);
        width: 95%;
        height: 40px;
        font-size: 1rem;
        padding-inline-start: 15px;
        margin-inline-end: 10px;
        margin-inline-start: 10px;
    }

    .search-button {
        position: absolute;
        background: transparent;
        border: none;
        outline: none;
        margin-left:260px;
    }
    
    .search-button img {
        width: 35px;
        height: 35px;
        object-fit: cover;
    }

    .keywords-touch {
        font-family: poppins-bold;
        width: 320px;
        height: max-content;
        flex-direction: column;
        overflow:hidden;
        color: rgba(0, 0, 0, 0.74);
        margin-top: 10px;
        background-color: rgb(245, 233, 214);
        border-radius: 30px;

    }

    .keywords-nav .next-btn {
        position: absolute;
        margin-left: 270px;
    }

    .keywords-nav >* {
        margin-inline-start: 2px;
        margin-inline-end: 3px;
    }

    .keywords-nav >*:first-child{
        font-size: .1rem;
    }

    .keywords-nav >*:nth-child(2){
        font-size: 2rem;
    }

    .keywords-nav >*:nth-child(3){
        font-size: 1rem;
    }
    .keywords-nav >*:nth-child(4){
        font-size: 1.3rem;
    }
    .keywords-nav >*:nth-child(5){
        font-size: 1.1rem;
    }

    .keywords-nav >*:nth-child(6){
        font-size: 1.6rem;
    }

    input[type="search"]::-webkit-calendar-picker-indicator {
        color:rgb(255, 255, 255);
    }

    .btn-menu {
        color: rgb(199, 56, 199);
        background-color: white;
        text-align: center;
        border: none;
        border-radius: 50%;
        font-size: 30px;
        margin-right: 20px;
        cursor: pointer;
    }
    .meme-editor-main {
        flex-direction: column;
         margin-top: 5px;
    }

    .canvas-container{
        width: 20%;
    }

    #meme-canvas{
        margin-left: 55px;
        margin-bottom: 5px;
        box-shadow: 0px 0px 12px 1px rgb(160, 160, 160);
        width: 350%;
    }

    .meme-editor-dashboard {
        width: 100%;
        height: 330px;
    }
    .text-line {
        position: absolute;
        width: 300px;
    }

    .btn {
        width: 40px;
        height: 40px;
    }

    .btn img {
        width: 20px;
    }

    .text-prefrences {
        width: 290px;
        margin-top: 3px;
    }

    .font-options {
        width: 150px;
        
    }

    .text-prefrences >*:not(:last-child) {
        margin-inline-end: 1rem;
    }
    
    .text-prefrences >*:first-child {
        margin-inline-start: .5rem;
    }



    .text-functionalities >* {
        margin-top: 70px;
        margin-inline-end: .5rem; 
        margin-inline-start: .5rem; 
        margin-bottom: 1rem;
    } 

    .add-stickers {
        display: none;
    }

    .download-btn {
        padding: 2px;
    }

    .share-btn {
        padding: 1px;
    }

    .save-btn {
        border: none;
        width: 35px;
        height: 30px;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 0px #f30051 , 0px -3px 0px rgba(218, 139, 221, 0.418);
    }

    

}

@media (min-width: 740px) {
    .main-layout{
        max-width: 1300px; 
    }

    body {
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='36.1%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23CD29FF'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='63.5%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23FCE5FF'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='0.43'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;
    }

    .main-content {
        background-color: #c5b3c393;
    }

    .main-header {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        margin-top: 10px;
        font-size: 1.2rem;
    }

    .main-header .logo {
        margin-inline-start: 80px;
    }

    .main-nav a{
        padding-inline-end: 23px;
        padding-inline-start: 23px;
    }

    .main-nav >* {
        margin-inline-end: 25px;
    }

    .btn-menu {
        display: none;
    }

    .main-controls {
        padding-top: 30px;
    }

    .meme-search {
        background-color: #ffffffd3;
        width: 400px;
        height: 50px;
        font-size: 1.3rem;
        padding-inline-start: 40px;
        margin-inline-start: 95px;
    }

    .search-button {
        background: transparent;
        border: none;
        outline: none;
        margin-left: -55px;
    }
    
    .search-button img {
        width: 40px;
        height: 40px;
        object-fit: cover;
    }


    .keywords-touch {
        width: 600px;
        padding: 10px;
        height: 50px;
        justify-content: center;
        flex-direction: column;
        color: white;
        font-family: poppins-bold;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        background-color: #b547d6de;
        margin-inline-start: 15px;
        border-radius: 30px;
    }

    .btn-keywords {
        font-size: 18px;
    }


    .keywords-nav .next-btn {
        position: absolute;
        margin-left: 590px;
    } 

    .keywords-nav >* {
         justify-content: center;
         margin-inline-start: 5px
    }

    .keywords-nav >*:first-child{
        margin-inline-end: 10px;
        font-size: 22px;
    }

    .keywords-nav >*:nth-child(2){
        font-size: 30px;
    }

    .keywords-nav >*:nth-child(3){
        font-size: 13px;
    }
    .keywords-nav >*:nth-child(4){
        font-size: 18px;
    }
    .keywords-nav >*:nth-child(5){
        font-size: 20px;
    }

    .keywords-nav >*:nth-child(6){
        font-size: 25px;
    }

    .keywords-nav:last-child >*{
        margin-inline-end: 5px;
    }

    input[type="search"]::-webkit-calendar-picker-indicator {
        color:#22252C;
    }

    .meme-editor-main {
        background: #f7b3dcc4;
        padding-bottom: 10px;
        border-radius: 30px;
        padding-top: 10px;
        justify-content: center;
        margin-top: 35px;
    }


    #meme-canvas{
        box-shadow: 0px 0px 12px 1px white;
    }

    .meme-editor-dashboard {
        margin-left: 80px;
        width: 525px;
        height: 546px;
    }

    .text-line {
        width: 440px;
        display: flex;
        justify-content: center;
    }

    .btn {
        width: 56px;
        height: 52px;
    }
    .btn img {
        width: 31px;
    
    }
    .text-prefrences {
        width: 440px;
    }
    
    .font-options {
        width: 230px;
    
    }
    .text-prefrences >*:not(:last-child) {
        margin-inline-end: 1.56rem;
    }
    
    .text-prefrences >*:first-child {
        margin-inline-start: 1.06rem;
    }

    .text-functionalities >* {
        margin-inline-end: 1.25rem;
        margin-bottom: 1.875rem;
    }

    .add-stickers {
        width: 440px;
        height: 90px;
        background-color: yellow; 
        padding: 3px;
        margin-bottom: 30px;
    }

    .stickers img {
        padding: 2px;
        width: 80px;
    }

    .stickers img:first-of-type {
        width: 70px;
        margin-inline-start: 20px;
    }

    .stickers img:last-of-type {
        width: 55px;
    }

    .stickers img:nth-last-of-type(3) {
        width: 60px;
    }

    .download-btn {
        padding: 10px;
    }
    .share-btn {
        margin-inline-start: -50px;
        padding: 9px;
        padding-inline-start: 30px;
        margin-inline-end:20px ;
    }
    .save-btn {
        position: absolute;
        margin-left: 20px;
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 5px 0px #f30051 , 0px -3px 0px rgba(216, 216, 216, 0.418);
    }
}
